[submodule "common_tools_lib"]
	path = common_tools_lib
	url = git@github.com:FlorianFrank/common_tools_lib.git
[submodule "pugixml"]
	path = pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
    ignore = all
