[submodule "common_tools_lib"]
	path = common_tools_lib
	url = git@github.com:FlorianFrank/common_tools_lib.git
[submodule "pugixml"]
	path = pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost/tree/5b2fb3d81fdfd73c81f6a7ce3c086889d9815a07
    ignore = all
